$brand: #7eb4a7;
$white: #fff;
$dark-grey: #444;
$black: #000;

/* Core styling */

html { box-sizing: border-box; }

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: $brand;
}

html, body { height: 100%; }

body {
  background-color: $dark-grey;
  display: table;
  font: 400 15px/1.5 'Inconsolata', 'Consolas', sans-serif;
  padding: 2em;
  width: 100%;
}

@media print {
  body {
    background-color: $white;
    padding: 0 !important;
  }
}

h1,
h2,
h3,
h4 {
  font-family: 'Dosis', 'Impact', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 2.25em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h2 {
  border-bottom: 1px dashed $brand;
  font-size: 1.5em;
  margin-bottom: 0.3em;
  padding-bottom: 0.3em;
  text-transform: uppercase;
}

h3 {
  font-size: 1.2em;
  letter-spacing: 1px;
  margin-bottom: 0.2em;
}

h4 {
  color: $dark-grey;
  font-size: 1em;
  margin-bottom: 0.2em;
}

a {
  color: $brand;
  text-decoration: none;
}

li {
  list-style: none;
  margin: 0.5em 0;
}


/* Resume */

#container {
  background: $white;
  height: 11in;
  margin: 0 auto;
  overflow: hidden;
  width: 8.5in;
}

#resume {
  display: table;
  table-layout: fixed;
  padding: 5em 3em;

  h2 {
    color: $brand;
  }

  ul + h2 {
    margin-top: 1em;
  }
}

  #resume-header-card {
    background-color: $brand;
    color: $white;
    font-family: 'Dosis';
    margin: -1.5em 2em 2em -1.5em;
    padding: 1.5em 2.25em;
    width: 3.5in;

    h2,
    a {
      color: $white;
    }

    h2 {
      font-size: 1em;
      margin: 0.8em 0;
    }
  }

    #about-links {
      margin-top: 1em;

      li {
        margin: 0;
      }

      span {
        display: inline-block;
        width: 80px;
      }

      a {
        color: $black;
      }
    }

  #resume-sidebar,
  #resume-experience {
    display: table-cell;
    vertical-align: top;
  }

  #resume-sidebar {
    padding-right: 1em;
    width: 3.25in;
  }

  #resume-experience {
    padding-left: 1em;

    a {
      color: $dark-grey;
    }

    li + li {
      margin-top: 1.25em;
    }
  }
