// Containers

.page {
  background: $white;
  height: 11in;
  margin: 0 auto;
  // overflow: hidden;
  width: 8.5in;
}

.resume {
  padding: 1.5em;

  ul + h2 {
    margin-top: 1em;
  }
}


// Header

.resume__header {
  align-items: center;
  background-color: $brand;
  border: 1px solid $brand;
  color: $white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
  padding: 1.5em 2em;
}

  .resume__header__name {
    font-size: 2.5rem;
  }

  .resume__header__tagline {
    font-size: 1.2em;
    margin-top: 0.5em;
  }

  .resume__header__info {
    text-align: right;
  }

    .resume__header__info__link {
      color: $white;
      display: block;
      padding: 0.25em 0;
    }


// Content

.resume__content {
  display: table;
  table-layout: fixed;
  padding: 0 2em;
}

  .resume__content__heading {
    color: $brand;
    border-bottom: 1px dashed $brand;
    margin-bottom: 0.3em;
    padding-bottom: 0.3em;
  }

// Sidebar

#about-links {
  margin-top: 1em;

  li {
    margin: 0;
  }

  span {
    display: inline-block;
    width: 80px;
  }
}

#resume-sidebar,
#resume-experience {
  display: table-cell;
  vertical-align: top;
}

#resume-sidebar {
  padding-right: 1em;
  width: 3.25in;
}


// Experience

#resume-experience {
  padding-left: 1em;

  h3 a {
    font-size: 0.95rem;
  }

  li + li {
    margin-top: 1.25em;
  }
}
