// Containers

.page {
  background: $white;
  height: 11in;
  margin: 0 auto;
  // overflow: hidden;
  width: 8.5in;
}

.resume {
  padding: 1.5em;

  ul + h2 {
    margin-top: 1em;
  }
}


// Header

.resume__header {
  align-items: center;
  background-color: $brand;
  border: 1px solid $brand;
  color: $white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
  padding: 1.5em 2em;
}

  .resume__header__name {
    font-size: 2.5rem;
  }

  .resume__header__tagline {
    font-size: 1.2em;
    margin-top: 0.5em;
  }

  .resume__header__info {
    text-align: right;
  }

    .resume__header__info__link {
      color: $white;
      display: block;
      padding: 0.25em 0;
    }


// Content

.resume__content {
  display: table;
  table-layout: fixed;
  padding: 0 2em;
}

  .resume__content__sidebar,
  .resume__content__experience {
    display: table-cell;
    vertical-align: top;
  }

  .resume__content__heading {
    color: $brand;
    border-bottom: 1px dashed $light-grey;
    margin-bottom: 0.5em;
    padding-bottom: 0.3em;
  }

// Sidebar

.resume__about__links {
  margin: 1em 0;

  span {
    display: inline-block;
    width: 80px;
  }
}

.resume__content__sidebar {
  padding-right: 1em;
  width: 3in;
}


// Experience

.resume__content__experience {
  padding-left: 1em;

  li + li {
    margin-top: 1.25em;
  }
}
